{% extends 'master.html' %} 

{% block title %}Article Overview{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Article Overview</li>
{% endblock %} 

{% block content %}
<div class="mb-4">
    <a href="{% url 'new_article' %}" class="btn btn-primary">New article</a>
</div>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <!-- 6 Columns -->
            <th>Article</th>
            <th>Amount</th>
            <th>Article Number</th>
            <th>Warehouse</th>
            <th>Shelf</th>
            <th>Storage Unit</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td> {{ article.name }}</td>
            <td> {{ article.amount }}</td>
            <td> {{ article.article_number }} </td>
            <td> {{ article.inWarehouse }} </td>
            <td> {{ article.inShelf }} </td>
            <td> {{ article.inStorageUnit }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}