{% extends 'master.html' %} {% load widget_tweaks %} {% block title %}Add a new Article{% endblock %} {% block breadcrumb
%} {% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'article_overview' %}">Overview</a>
</li>
<li class="breadcrumb-item active">New article</li>
{% endblock %}

<!-- Requires:
  - Name
  - Amount
  - Articlenumber
-->
{% block content %}
<form method="post" novalidate>
  {% csrf_token %} {% include 'includes/form.html' %}
  <button type="submit" class="btn btn-success">Create</button>
</form>
{% endblock %}